*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 35px;
}
section{
    margin-top: 3%;
}
img{
    width: 100%;
}
p{
    font-size: 13px;
    margin: 15px 0px;
}
p, h1,h2{
    color: rgb(105, 105, 105);
}

.container{
    width: 85%;
    margin: 0 auto;
}
.container-flex{
    display: flex;
    justify-content: space-between;
}
/* common style is ended here */

/* hero section's style is started here */
.right-side-img, .left-side-img{
    width: 40%;
}
.right-side-txt, .left-side-txt{
    width: 45%;
}
.left-side-inner-txt{
    margin-top: 30%;
}
.heading-color{
    color: orange;
}
.button{
    margin-top: 35px;
}
.btn-inner{
    text-decoration: none;
    background-image:linear-gradient(to right, orange, orangered);
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}
/* hero section's style is ended here */

/* about me section's style is started here */
.about-me-section{
    background: url(./images/shapes/7.png);
    padding-top: 30px;
}
.left-side-inner-img{
    width: 60%;
    padding-left: 30%;
    margin-bottom: -5px;
}
.right-side-inner-txt{
    margin-top: 15%;
}
/* about-me section's style is ended here */

/* Recipes section's style is started here */
.heading{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.item{
    width: 28%;
    box-shadow: 0px 0px 20px rgb(185, 183, 183);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.item h3{
    background: rgb(112, 112, 112);
    border-radius: 5px;
    color: white;
    padding: 5px;
}
/* Recipes section's style is ended here */

/* Services section's style is started here */
.space{
    margin-bottom: 20px;
}
.text h3{
    background: rgb(71, 73, 73);
    color: white;
}
.banking{
    font-weight: bold;
}
/* Services section's style is ended here */

/* Branch & Working hours section's style is started here  */
.left-side-txt h3, .right-side-txt h3{
    text-align: center;
}
.branches, .working-time{
    text-align: center;
    font-style: italic;
}
.branches p, .working-time p{
    margin: 5px;
}
.branches span{
    color: rgb(226, 150, 8);
    font-weight: bold;
}
.working-time span{
    color: red;
    font-weight: bold;
}
/* Branch & Working hours section's style is ended here  */

/* footer section's style started here */
.footer{
    background: #0b0d17;
    padding: 20px;
    text-align: center;
}
.footer-inner span{
    color: orangered;
}
.footer-inner p{
    color: rgb(199, 191, 191);
}
/* footer section's style ended here */